@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
/* Google-Fonts */
.poppins-font {
  font-family: "Poppins", sans-serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.line {
  line-height: 0;
}
/* Common-CSS */
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
ul,
ol {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
a {
  text-decoration: none;
}
.btn-primary {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-transform: capitalize;
  padding: 10px 24px;
  background: #e76f51;
  margin-left: 66px;
}
.t-center {
  text-align: center;
}
.display-flex {
  display: flex;
}
.img-fluid {
  width: 100%;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.c-w {
  color: #fff;
}
.light-gray {
  color: #e0e0e0;
}
.brand-tittle {
  font-size: 3rem;
  font-weight: 600;
}
/* Common-CSS */
/* Header-Part-Start */
#head {
  background: #264653;
  padding: 42px 0 0 0;
}

.navbar {
  max-width: 577px;
  padding: 0 78px 0 785px;
}

.navbar .menu {
  align-items: center;
}

.navbar .menu .nav-item {
  margin-right: 36px;
}

.navbar .menu .nav-item .nav-link {
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  text-transform: capitalize;
}
/* Banner-Part */
.banner-container {
  margin: 0 auto;
  padding: 70px 0 96px 0;
  gap: 65px;
}
.banner-container > .banner-content,
.banner-pic {
  flex: 1;
  width: calc(100% - 65px);
}
.banner-content {
  padding: 60px 0 145px 0;
}
.banner-content .banner-des {
  font-size: 0.875rem;
  font-weight: 300;
}
.banner-des2 {
  font-size: 1rem;
  font-weight: 300;
  margin: 20px 0;
}
.banner-btn {
  margin: 0;
}

/* New-Year-Collection */
#new-year-section {
  padding: 65px 0 165px 0;
}
.new-yr-des {
  font-size: 0.875rem;
  font-weight: 600;
  color: #e76f51;
}
.new-year-collection {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 140px;
}
.collection-name {
  font-size: 2rem;
  font-weight: 700;
  color: #264653;
  margin-top: 20px;
}
.collection-price {
  font-size: 1.5rem;
  font-weight: 700;
  color: #264653;
  margin: 30px 0;
}

/* Latest-Part-Start */
.latest-card {
  padding: 20px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 47px;
}
.card-content-tittle {
  font-size: 1.6rem;
  font-weight: 600;
  color: #18191f;
  margin-top: 30px;
}
.card-content-des {
  font-size: 1rem;
  font-weight: 400;
  color: #6c6c6c;
  margin: 10px 0 40px 0;
  line-height: 20px;
}
.card-content-btn {
  font-size: 1.125rem;
  font-weight: 500;
  color: #e76f51;
  border: 1px solid #e76f51;
  border-radius: 5px;
  padding: 15px;
  background: #fff;
}
/* Latest-Part-End */
/* Responsive-Start */
/* Responsive-For-Small-Device */
@media screen and (max-width: 576px) {
  /* Header-Part-Start */
  .navbar,
  .menu {
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu,
  .navbar {
    gap: 20px;
  }
  .navbar .menu .nav-item {
    margin-right: 0;
  }
  .btn-primary {
    margin-left: 0;
  }
  /* Header-Part-End */
  /* Banner-Part-Start */
  .banner-container {
    margin-top: 100px;
    flex-direction: column;
    padding: 0 20px 30px;
  }
  .banner-content {
    padding: 0;
    text-align: center;
  }
  .banner-container > .banner-content,
  .banner-pic {
    flex: 1;
    width: calc(100% - 65px);
    margin: 0 auto;
  }
  .banner-content .banner-des {
    font-size: 0.7rem;
  }
  .banner-brand {
    font-size: 2rem;
  }
  .banner-des2 {
    font-size: 0.85rem;
    margin: 10px 0 35px 0;
  }
  .btn-primary {
    font-size: 1rem;
    font-weight: 400;
  }
  /* New-Year-Collection-Part-Start */
  .new-year-collection {
    padding: 0 65px;
    gap: 30px;
  }
  .new-year-collection,
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .collection {
    border: 1px solid rgb(192 192 192 / 44%);
    padding: 10px;
  }
  .container-pad{
    padding: 0 15px;
  }
}
